@import 'assets/scss/settings/_variables.scss';

.pwa-camera {
  &__vide-wrapper {
    width: 100vw;
    height: 100vh;
  }

  &__video {
    width: 100%;
    max-width: 1280px;
    background-color: $camera-background-color;
  }
}
